<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="title-input">Title</label>
    <input id="title-input" type="text" formControlName="title" placeholder="Enter a title ..."/>
    <p *ngIf="form.get('title')?.touched && form.get('title')?.hasError('required')">Please enter a title</p>
    <label for="isbn-input">ISBN</label>
    <input id="isbn-input" type="text" formControlName="isbn" placeholder="xxx-xxxx-xxx-x"/>
    <button type="submit">Submit</button>
</form>