:host {
  display: block;
  border: 1px solid lightgray;    
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
}

h3 {
  margin: 0.5rem 0;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: gray;
}
