<a routerLink="/book/new">New Book ...</a>
<ng-container *ngIf="books$ | async as books; else loadingTemplate">
  <input placeholder="Search ..." #searchInput (input)="updateSearchTerm(searchInput.value)"/>
  <app-book-card
    *ngFor="let book of books| bookFilter:searchTerm"
    [content]="book"
    (detailClick)="goToDetails($event)"
  ></app-book-card>
  <span>Total: {{ books.length }}</span>
</ng-container>
<ng-template #loadingTemplate>
  Loading ...
</ng-template>