/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
}

input {
  display: block;
  margin: 1rem 0;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  color: #0d6efd;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
